.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color:white;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* chat css */

.chatbox{
  flex: 1;
  /* border:1px solid white; */
  background-color: #353541;
  position: relative;
  overflow-y:auto;
}

.chat-input-holder{
  padding:24px;
  position:absolute;
  bottom: 0;
  left:0;
  right: 0;
}

.chat-input-textarea{
  background-color: #40414f;
  width: 90%;
  padding: 12px;
  color:white;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  border-color: none;
  margin:12px;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0.25);
  resize: none;
}

.chat-log{
  text-align: left;
  white-space: "pre-wrap";
}

.chat-message.chatgpt{
  background-color: #444654;
}

.chat-message-center{
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  padding: 12px;

  padding-left: 24px;
  padding-right: 24px;
}

.message{
  padding-left: 40px;
  padding-right: 40px;
}

.avatar{
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt{
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

