.sidemenu{
  width: 260px;
  padding:10px;
  /* border:1px solid white; */
  background-color: #202123;
}

.sidemenu-button{
  padding: 15px;
  /* border:1px solid white; */
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25 all;
}

.sidemenu-button:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.sidemenu-button span{
  padding-left: 6px;
  padding-right: 12px;
}